<script id="__bs_script__">//<![CDATA[
  document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.24.4'><\/script>".replace("HOST", location.hostname));
//]]></script>
body{
  background-color: #ffffff;
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 12px;}
.header{
  background-color: #efefef;
  padding:3px;
}
.nav{
  float: left;
  width: 100px;
  padding-left: 5px;
  font-weight: bold;
}
.page{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 700px;
  font-size: 12px;
  boder:1px solid #666666;
}
.context{
  padding:10px;
  margin-left: 100px;
}
h2{
  padding-left: 115px;
}
p{padding-left: 115px;}
p.abstract{font-weight: bold;}
ol{
  clear:left;
  list-style: circle;
  padding-left: 145px;
}
